body{
	background-color: #aae4e1;
}
#navigation{/* set out the navigation area */
	border-bottom: double 5px orange;
    height: 42px;
	width: 100%;
    background: -webkit-linear-gradient(right, #037FEB, #AAC9EB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #037FEB, #AAC9EB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #037FEB, #AAC9EB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #037FEB, #AAC9EB); /* Standard syntax (must be last)*/
	display: inline-block;
}
#navigation img{ /* set seahorse image */
	padding-left: 30px;
	padding-right: 30px;
	float: left;
	position: relative;
	top: 9px;
}
#navigation img.reverse{ /* set reverse seahorse image */
	padding-left: 30px;
	padding-right: 30px;
	float: right;
	position: relative;
	top: -53px;
}
#navigation li{ /* set out the navigation links */
	position: relative;
	top: -10px;
	background-color: #0F3EFA;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 0.5%;
	border: solid 2px purple;
	border-radius: 10px;
	list-style-type: none;
	display: inline-block;
	font-size: 140%;
	box-shadow: 2px 2px 1px white;
}
#navigation li a:link{/* set link colour */
	color: #41FB73;
}
#navigation li a:visited{/* set link colour */
	color: #41FB73;
}
#navigation li a:hover{/* set link colour */
	color: orange;
}
#nav{ /* set lower navigation area */
	background: -webkit-linear-gradient(right, #037FEB, #AAC9EB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #037FEB, #AAC9EB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #037FEB, #AAC9EB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #037FEB, #AAC9EB); /* Standard syntax (must be last)*/
	display: block;
	height: 115px;
	border: solid 2px orange;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 100%;
}
.pagename{ /* set name of page look */
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 10px;
	text-shadow: 2px 1px white;
	color: #7f1769;
}
.pagename h1{
	margin-bottom: 25px;
	padding-bottom: 25px;
}
#name{ /* set website name layout in lower navigation area */
	position: absolute;
	top: 35px;
	left: 45%;
	font-size: 150%;
	font-family: 'lucida calligraphy';
	color: #7f1769;
	font-weight: bolder;
	text-shadow: 1px 1px white;
}
#buttons{ /* set look of form and ticket background area */
	background: -webkit-linear-gradient(right, #037FEB, #AAC9EB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #037FEB, #AAC9EB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #037FEB, #AAC9EB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #037FEB, #AAC9EB); /* Standard syntax (must be last)*/
	display: inline-block;
	height: 132px;
	width: 100%;
	margin-top: 10px;
	border: solid 2px orange;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.contact{ /* set look of contact button */
	position: absolute;
	top: 165px;
	left: 7px;
	margin-left: 10px;
	padding: 10px;
	padding-bottom: 0px;
	width: 19%;
	height: 90px;
	font-size: 135%;
	font-weight: bold;
	background-color: orange;
	color: blue;
	border: outset 4px white;
	border-radius: 10px;
	text-align: center;
	box-shadow: 10px 10px 5px blue;
	text-decoration: none;
}
.contact:hover{ /* set the look of hover over contact button */
	border: inset 5px white;
}
.benefactor{ /* set look of benefactor button */
	position: absolute;
	top: 182px;
	width: 20%;
	height: 90px;
	left: 33%;
	margin-top: 5px;
	margin-left: 10px;
	padding: 10px;
	padding-bottom: 0px;
	text-align: center;
	font-size: 135%;
	font-weight: bold;
	background-color: orange;
	color: blue;
	border: outset 4px white;
	border-radius: 10px;
	box-shadow: 10px 10px 5px blue;
	
}
.benefactor:hover{ /* set look of hover over benefactor button */
	border: inset 5px white;
}
.ticket{ /* set look of link to online ticket sales */
	position: absolute;
	top: 192px;
	left: 67%;
	border: outset 4px orange;
	margin-top: 5px;
	box-shadow: 10px 10px 5px blue;
}
.ticket:hover{ /* set look of hover over ticket sales button */
	border: inset 5px orange;
}
.tickets{ /* set look of ticket sales description */
	position: absolute;
	left: 89%;
	top: 196px;
	width: 10%;
	margin-top: 2px;
	font-size: 100%;
	font-family: 'lucida calligraphy';
	color: orange;
	font-weight: bolder;
	text-shadow: 2px 1px black;
}
.content{ /* set look of page content */
	margin-left: 10%;
	padding-left: 5%;
	margin-right: 15%;
	font-weight: bold;
	border-left: double 5px orange;
}
.content h1{ /* set look of content heading */
	font-size: 160%;
	font-family: 'lucida calligraphy';
	color: #7f1769;
	font-weight: bolder;
	text-shadow: 1px 1px white;
}
.content img{
	float: right;
	margin: 20px;
}
.orchestra{
	border-bottom: double 5px orange;
}
.orchestra img{
	margin-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 0px;
	float: none;
}
.content p{
	padding-top: 5px;
}
.content h2{
	margin-top: 0px;
}
.conductor img{
	float: left;
	margin-right: 20px;
}
.reviews img{
	margin-top:20px;
	margin-bottom: 10px;
	float: none;
	margin-left: 30px;
}


