html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #CCCCCC;
	font-family: veranda, arial, geneva, arial black;
	line-height: 1.5em;
}
.container {
	max-width: 1260px;
	min-height: 100%;
	margin: 0px auto;
	position: relative;
}
img {
	border: 1px solid #006699;
	margin: 5px;
}
.randomImage {
	float: right;
	margin: 0px;
	margin-top: 20px;
	text-align: center;
}
h2 {
	margin-left: 10%
}
#navigation li { /* set out the navigation links */
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-left: 0.5%;
	margin-top: -0.6%;
	margin-bottom: 6%;
	list-style-type: none;
	display: inline-block;
	font-size: 140%;
}
a.navButton {/* set link colour */
	background-color: #006699;
	text-decoration: none;
	text-align: center;
	padding: 7px 7px;
	border: solid 1px #E6E6DC;
	border-radius: 3px;
}
.navButton:hover {
	background-color: #d3d3d3;
	border: solid 1px black;
}
a.navButton:visited {
	color: #E6E6DC;
}
a.navButton:hover {
	color: #006699;
}
a.navButton:link {
	color: #E6E6DC;
}
a.current {
	background-color: #E6E6DC;
	text-decoration: none;
	text-align: center;
	padding: 7px 7px;
	border: solid 1px black;
	border-radius: 3px;
}
a.current:visited {
	color: black;
}
a.current:hover {
	color: #006699;
}
a.current:link {
	color: black;
}
#nav { /* set heading image */
	width: 100%;
	height: 178px;
	display: inline-block;
	background-image: url(./Images/toppic.jpg);
	background-repeat: no-repeat;
}
#leftside { /* home page left box */
	float: left;
	background-color: #006699;
	width: 180px;
	border: solid 2px black;
	overflow: auto;
}
.leftLogo {
	margin-left: 50px;
	padding-bottom: 50px
}
#home img{
	width: 49%;
	margin: 0;
}
p.content {
	padding: 5px;
	margin: 5px;
	text-align: center;
	border: solid 4px black;
	border-radius: 2px;
	font-size: 120%;
}
a.content {
	text-decoration: none;    /* this section deals with left hand box */
}
a.content:visited {
	color: black;
}
a.content:hover {
	color: #006699;
}
a.content:link {
	color: black;
}
#content { /* home page right box */
	padding-left: 220px;
	padding-right: 220px;
	margin-right: 30px;
	font-size: 120%;
	margin-left: 0px;
}
.button {
	text-decoration: none;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background-color: #E6E6DC;
	padding: 15px;
	border: 1px solid black;
	border-radius: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	margin: 30px;
	float: left;
}
#book {
	text-decoration: none;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background-color: #E6E6DC;
	padding: 15px;
	border: 2px solid black;
	border-radius: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	margin: 30px;
	float: left;
	min-height: 60px;
	line-height: 60px;
}
p { /* home page p margin */
	margin-top: 0px;
	border: solid 2px #006699;
	border-radius: 5px;
	padding: 10px;
	background-color: #E6E6DC;
}
h1 { /* home page h1 */
	font-size: 160%;
	color: #006699;
	text-align: center;
}
#specialguests { /* set up people/special guests scrolling display */
	height: 450px;
	border: solid 2px black;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
#news {
	height: 570px;
	border: solid 2px black;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
#news img {
	max-width: 30%;
	float: left;
}
#events {
	height: 665px;
	border: solid 2px black;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
#events img {
	max-width: 100%;
	float: left;
}
.centre {
	padding-left: auto;
	padding-right: auto;
}
#lifemembers { /* set up people/life members scrolling display */
	height: 450px;
	border: solid 2px black;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
#honouredmembers { /* set up people/honoured members scrolling display */
	overflow-x: hidden;
}
#specialguests img, #lifemembers img { /* pad images people */
	padding-right: 15px;
}
#honouredmembers img { /* pad images people */
	padding-bottom: 0px;
}
#specialguests h3, #lifemembers h3 { /* make gap around images people */
	margin-bottom: 5px;
	margin-top: 10px;
}
#specialguests p, #lifemembers p { /* make gap around images people */
	margin-top: 5px;
	margin-bottom: 5px;
}
#peopleheading1 { /* set people/special guests position */
	margin-left: 59px;
}
#peopleheading2 { /* set people/lifetime members position */
	margin-left: 59px;
}
#peopleheading3 { /* set people/honoured members position */
	text-align: center;
}
#committee { /* set about us/committee members list position */
}
p.positions1 {
	width: 145px;
	text-align: right;
	border-radius: 0px;
	border-color: black;
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.positions1 {
	float: left;
}
#names {
	border-radius: 0px;
	border-color: black;
	margin-left: 5px;
	display: inline-block;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#historytitle {
	text-align: center;
}
#history {
	height: 55%;
	top: 310px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#supportcolumn1 {
	font-size: 80%;
	text-align: center;
}
#benefactors {
	text-align: center;
	font-size: 90%;
	font-family: 'lucida calligraphy';
}
#benefactors p {
	border-color: black;
	max-width: 370px;
	margin: 0 auto;
}
#supportcolumn2 {
	font-size: 90%;
	text-align: center;
}
.container #sponsors {
	width: 1705px;
	margin: 0 auto;
	margin-left: -223px;
}
#sponsors {
	clear: both;
}
#sponsors img {
	margin: 15px;
	text-align: center;
}
.imgtext {
	font-size: 130%;
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 5px;
}
p.imgtext {
	margin: 10px;
}
.thumbs {
	max-width: 61%;
}
.thumbs img {
	height: 60px;
	width: 80px;
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.thumbs img:hover {
	-webkit-filter: grayscale(100%) blur(1px);
	filter: grayscale(100%) blur(1px);
}
#rightDisplay {
	position: fixed;
	top: 190px;
	left: 55%;
}
#rightDisplay img {
	border: #006699 2px solid;
	border-radius: 5px;
}
.original {
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: #CCCCCC;
}
#member {
	float: left;
	max-width: 48%;
	background: #006699;
	padding: 5px;
	border: 2px solid black;
	border-radius: 8px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
#member p {
	border-color: black;
}
#player {
	float: right;
	max-width: 48%;
	background-color: #E6E6DC;
	padding: 5px;
	border: 2px solid #006699;
	border-radius: 8px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

#form {
	min-width: 750px;
	float:left;
}

textarea {
	width: 97%
}
.name {
	width: 68%
}
.email {
	width: 97%
}
.phone {
	width: 30%
}
.ptop {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.pmid {
	border-radius: 0px;
}
.pbot {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
#footer {
	font-family: Arial;
	background-color: #006699;
	clear: both;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	color: #efe5d0;
	text-align: center;
	font-size: 90%;
	position: absolute;
	bottom: 1px;
	width: 100%;
	height: 23px;
	max-width: 1260px;
}
#push {
	height: 30px;
	clear: both;
}
